* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Saira", sans-serif;
}

.topbar {
  display: none;
  width: 100%;
  height: 2.5rem;
  background: black;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
  font-size: 1.125rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.stretched_link {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

span {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.table {
  border-collapse: collapse;
}
.table tr:not(:last-child) {
  border-bottom: 1px solid rgba(21, 49, 112, 0.2);
}
.table tr td {
  font-size: 0.875rem;
  padding: 0.5rem;
}
.table tr td:nth-child(1) {
  text-align: center;
}
.table tr td:nth-child(2) {
  padding: 0.5rem 0;
}
.table tr td:nth-child(2) img {
  vertical-align: middle;
}
.table tr td img {
  min-width: 1.375rem;
  width: 1.375rem;
  height: auto;
  object-fit: contain;
}
.table tr td:nth-child(3) {
  font-weight: 700;
  line-height: 1.1;
}
.table tr td:nth-child(6) {
  font-weight: 700;
}

.select {
  border: 1px solid rgba(21, 49, 112, 0.2);
  border-radius: 3px;
  outline: none;
  padding: 0.5rem;
}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.75rem;
  }
}
header {
  position: relative;
  z-index: 50;
  height: 5rem;
  background: #153170;
  color: #FFFFFF;
  border-bottom: 2px solid #FFDD18;
}

.header_bg {
  position: absolute;
  inset: 0;
  max-height: 5.5rem;
  width: 100%;
  object-fit: cover;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 100%;
  position: relative;
  z-index: 1;
}

.header_logo_container {
  height: 100%;
}
.header_logo_container img {
  height: 6rem;
  width: auto;
  object-fit: contain;
}

.header_row1 {
  display: none;
}
.header_row1 h2 {
  font-size: 2rem;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 700;
}

.header_row2 {
  position: fixed;
  right: 0;
  transform: translateX(100%);
  top: 5rem;
  background: #153170;
  padding: 2rem;
  transition: transform 0.2s ease-in;
}
.header_row2.active {
  transform: translateX(0);
}

.nav_links {
  display: flex;
  flex-direction: column;
}
.nav_links > li {
  height: 100%;
  text-transform: uppercase;
}
.nav_links > li:not(:last-child) {
  margin-bottom: 1rem;
}
.nav_links > li a {
  color: #FFFFFF;
  display: block;
  height: 100%;
}

.dropdown_menu {
  z-index: 20;
  display: none;
}
.dropdown_menu.active {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.dropdown_menu li {
  border-bottom: 1px solid #FFDD18;
  width: max-content;
  font-weight: 400;
  font-size: 1rem;
}
.dropdown_menu li a {
  transition: color 0.1s ease-out;
}
.dropdown_menu li:hover a {
  color: #FFDD18;
}

.burger {
  padding: 0.5rem;
  cursor: pointer;
}
.burger div {
  width: 2rem;
  height: 3px;
  background: white;
  margin: 0.6rem 0;
  border-radius: 2rem;
  transition: all 0.1s ease-in;
}

.burger.active div:nth-child(1) {
  transform: translateY(0.4rem) rotate(45deg);
}
.burger.active div:nth-child(2) {
  display: none;
}
.burger.active div:nth-child(3) {
  transform: translateY(-0.4rem) rotate(-45deg);
}

@media only screen and (min-width: 1024px) {
  .header_container {
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 1440px) {
  .topbar {
    display: block;
  }

  header {
    height: 9rem;
  }

  .header_container {
    padding: 0 3.75rem;
    justify-content: unset;
  }

  .header_logo_container {
    margin-right: 2.5rem;
  }
  .header_logo_container img {
    height: 10.75rem;
  }

  .burger {
    display: none;
  }

  .header_rows_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header_row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
  }
  .header_row1 > div {
    display: flex;
  }
  .header_row1 > div > div:nth-child(1) {
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }
  .header_row1 > div > div:nth-child(1) a {
    color: #FFFFFF;
    font-size: 1rem;
  }
  .header_row1 > div > div:nth-child(2) {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
  .header_row1 > div > div:nth-child(3) {
    display: flex;
    gap: 1.5rem;
    padding-left: 2rem;
  }
  .header_row1 > div > div:nth-child(3) a {
    display: flex;
    align-items: center;
  }

  .header_row2 {
    position: unset;
    transform: translateX(0);
    padding: 0;
    height: 3.75rem;
    background: transparent;
  }

  .nav_links {
    height: 100%;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .nav_links > li {
    position: relative;
  }
  .nav_links > li::after {
    content: "";
    background: #FFFFFF;
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 0;
    height: 2px;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  .nav_links > li:not(:last-child) {
    margin-bottom: 0;
  }
  .nav_links > li:hover .dropdown_menu {
    transform: translateY(1.5rem);
    visibility: visible;
    opacity: 1;
  }
  .nav_links > li:hover::after {
    right: auto;
    width: 100%;
    left: 0;
  }
  .nav_links > li a {
    display: flex;
    align-items: center;
  }

  .dropdown_menu {
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: all 0.1s ease-out;
    transform: translateY(2.5rem);
    visibility: hidden;
    opacity: 0;
    background: #153170;
    color: #FFFFFF;
    padding: 1rem;
    width: max-content;
  }
}
@media only screen and (min-width: 1920px) {
  .header_container {
    padding: 0 8rem;
  }
}
footer {
  background: #153170;
}
footer .bg {
  display: none;
}
footer h5 {
  font-size: 0.875rem;
  font-weight: 700;
  color: #FFDD18;
  text-transform: uppercase;
}
footer a, footer p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #FFFFFF;
}

.footer_container {
  padding: 2.5rem 1rem;
}

.footer_url_path {
  background: #FFDD18;
  display: none;
  padding: 0.4rem 1rem;
}
.footer_url_path .fup_logo {
  height: 1.375rem;
  width: auto;
  object-fit: contain;
  margin-right: 0.8rem;
}
.footer_url_path ul {
  display: flex;
  align-items: center;
  color: #17428C;
  font-size: 0.875rem;
}

.footer_row1 {
  margin-bottom: 1.5rem;
}
.footer_row1 .col1 {
  display: flex;
  align-items: center;
}
.footer_row1 .col1 img {
  height: 6rem;
  width: auto;
  object-fit: contain;
  margin-right: 1.5rem;
}
.footer_row1 .col2 {
  display: none;
}
.footer_row1 .col2 li:hover {
  text-decoration: underline;
}

.footer_row2 {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.footer_row2 li:hover {
  text-decoration: underline;
}

.footer_row3 {
  display: flex;
  justify-content: flex-end;
}
.footer_row3 p {
  display: flex;
  align-items: center;
}
.footer_row3 p a {
  display: flex;
  align-items: center;
}
.footer_row3 p a img {
  margin: 0 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .footer_container {
    padding: 3rem;
  }
}
@media only screen and (min-width: 1440px) {
  .footer_container {
    padding: 3.5rem 3.75rem 1.5rem 3.75rem;
  }

  .footer_row1 {
    display: flex;
    margin-bottom: 3rem;
  }
  .footer_row1 .col1 {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 8rem;
  }
  .footer_row1 .col1 img {
    height: 10.75rem;
    margin-bottom: 2rem;
  }
  .footer_row1 .col2 {
    display: flex;
    gap: 7rem;
  }
}
@media only screen and (min-width: 1920px) {
  .footer_container {
    padding: 3.5rem 8rem 1.5rem 8rem;
  }
}
.button_hp {
  color: #FFDD18;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  font-weight: 600;
  font-size: 0.875rem;
  padding-bottom: 0.4rem;
  position: relative;
  border-bottom: 1px solid;
  z-index: 15;
}
.button_hp:hover .arrow {
  margin-left: 1.25rem;
}
.button_hp .arrow {
  margin-left: 1rem;
  margin-bottom: 0rem;
  transition: all 0.1s ease-out;
}

.topstory_article {
  position: relative;
  height: 20rem;
  display: flex;
}
.topstory_article > img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.topstory_article::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(21, 49, 112, 0) 0%, rgba(21, 49, 112, 0.72) 100%);
  transition: all 0.1s ease-out;
}
.topstory_article:hover .button_hp .arrow {
  margin-left: 1.25rem;
}
.topstory_article:hover::before {
  opacity: 0.1;
}

.topstory_article_content {
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.topstory_article_content h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.75rem;
}

.topstory_article_header {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0.75rem;
}
.topstory_article_header > div {
  display: flex;
  align-items: center;
}
.topstory_article_header > div img {
  margin-right: 0.5rem;
}

.more_articles {
  position: relative;
  padding: 2.5rem 1rem;
}
.more_articles > img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.more_articles > h4 {
  color: #FFDD18;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.more_articles_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.more_articles_container > div {
  position: relative;
  display: flex;
  width: 100%;
}
.more_articles_container > div:hover img.main_img {
  opacity: 0.75;
}
.more_articles_container > div:hover > div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}
.more_articles_container > div img.main_img {
  display: none;
  width: 5rem;
  height: 5rem;
  transition: all 0.1s ease-out;
}
.more_articles_container > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid #6F80B3;
  transition: all 0.1s ease-out;
}
.more_articles_container > div > div h4 {
  color: #FFFFFF;
  font-weight: 700;
  margin-right: 0.5rem;
}

.news {
  padding: 2.5rem 1rem;
}
.news > h4 {
  color: #17428C;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.news_container {
  color: #153170;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.news_container > div {
  border-bottom: 1px solid rgba(21, 49, 112, 0.5);
  padding-bottom: 0.75rem;
}
.news_container > div h4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.news_container > div p {
  font-weight: 0.875rem;
}

.matches {
  border-top: 1px solid #153170;
  border-bottom: 1px solid #153170;
}

.matches_container {
  padding: 2.5rem 1rem;
}
.matches_container .button_hp {
  color: #17428C;
}

.matches_header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.matches_header > h2 {
  color: #17428C;
}

.matches_links {
  display: none;
}

.matches_items_container {
  display: none;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.matches_items_container.selected {
  display: flex;
}

.matches_item {
  color: #17428C;
  padding: 0.875rem 1rem;
  border: 2px solid #FFDD18;
}
.matches_item.future {
  border: 4px solid #FFDD18;
}

.matches_item_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
.matches_item_header span {
  font-size: 0.875rem;
}

.matches_item_main {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.matches_item_main img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: contain;
}
.matches_item_main > div {
  margin-left: 0.5rem;
  flex: 1;
  color: #153170;
}
.matches_item_main > div h3 {
  line-height: 1.05;
  font-weight: 400;
}
.matches_item_main > div h3.highlighted {
  font-weight: 700;
}
.matches_item_main .resultTime {
  align-self: flex-end;
  margin-left: 0.5rem;
}

.matches_item_footer a {
  color: #17428C;
}
.matches_item_footer a:hover {
  text-decoration: underline;
}

.multi {
  background: #17428C;
}

.multi_container h2 {
  margin-bottom: 1rem;
}

.table_container {
  background: #FFFFFF;
  padding: 2.5rem 1rem;
  color: #153170;
}

.youth_articles {
  padding: 2.5rem 1rem;
}
.youth_articles h2 {
  color: #FFFFFF;
}

.youth_articles_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.youth_articles_container > div {
  position: relative;
  display: flex;
  width: 100%;
}
.youth_articles_container > div img.main_img {
  display: none;
  width: 5rem;
  height: 5rem;
  transition: all 0.1s ease-out;
}
.youth_articles_container > div:hover img.main_img {
  opacity: 0.75;
}
.youth_articles_container > div:hover > div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}
.youth_articles_container > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid #6F80B3;
  transition: all 0.1s ease-out;
}
.youth_articles_container > div > div h4 {
  color: #FFFFFF;
  font-weight: 700;
  margin-right: 0.5rem;
}

.banners {
  background: #17428C;
}

.banners_container {
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.banners_container > div {
  width: 100%;
  height: 5.5rem;
  background: #FFFFFF;
  display: grid;
  place-items: center;
}

.partners_container {
  padding: 2.5rem 1rem;
}
.partners_container h2 {
  color: #17428C;
  margin-bottom: 1rem;
}

.partners_items_container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

@media only screen and (min-width: 768px) {
  .more_articles_container > div img.main_img, .youth_articles_container > div img.main_img {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .topstory_container {
    display: flex;
    flex-wrap: wrap;
  }

  .topstory_article {
    flex: 0.6;
    height: unset;
  }

  .topstory_article_content {
    padding: 3rem;
  }

  .more_articles {
    flex: 0.4;
    padding: 3rem;
  }

  .news {
    width: 60%;
    padding: 3rem;
  }

  .matches_container {
    padding: 3rem;
  }

  .matches_items_container {
    flex-direction: row;
  }

  .table_container, .youth_articles, .banners_container, .partners_container {
    padding: 3rem;
  }

  .youth_articles_container > div {
    width: max-content;
  }
}
@media only screen and (min-width: 1280px) {
  .matches_item {
    width: 100%;
  }

  .multi_container {
    display: flex;
  }

  .table_container {
    flex: 0.4;
  }

  .youth_articles {
    flex: 0.6;
  }

  .banners_container {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1440px) {
  .topstory_article {
    flex: 0.4;
  }

  .topstory_article_content {
    padding-left: 3.75rem;
  }
  .topstory_article_content h1 {
    font-size: 3.625rem;
    margin-bottom: 1.5rem;
  }

  .more_articles {
    flex: 0.32;
    padding: 3rem 2rem;
  }

  .news {
    flex: 0.28;
    padding-left: 2rem;
    padding-right: 3.75rem;
  }

  .matches_container {
    padding: 3.5rem 3.75rem;
  }

  .matches_header {
    justify-content: unset;
    width: 100%;
  }
  .matches_header .select {
    display: none;
  }

  .matches_links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .matches_links li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 0.2rem;
    color: #17428C;
    cursor: pointer;
  }
  .matches_links li:hover {
    border-bottom: 2px solid #FFDD18;
  }
  .matches_links li.selected {
    font-weight: 800;
    border-bottom: 2px solid #FFDD18;
  }

  .matches_items_container {
    margin-bottom: 2.5rem;
  }

  .matches_item_header {
    margin-bottom: 0.5rem;
  }

  .matches_item_main > div h3 {
    font-size: 1.25rem;
  }
  .matches_item_main .resultTime {
    font-size: 1.5rem;
  }

  .table_container {
    flex: 0.3;
    padding: 3.5rem 2rem 3.5rem 3.75rem;
  }
  .table_container .table {
    width: 100%;
  }

  .youth_articles {
    flex: 0.7;
    padding: 3.5rem 3.75rem 3.5rem 2rem;
  }

  .youth_articles_container {
    gap: 2rem 3.25rem;
  }
  .youth_articles_container > div {
    width: 396px;
  }

  .banners_container, .partners_container {
    padding: 3.5rem 3.75rem;
  }
}
@media only screen and (min-width: 1920px) {
  .topstory_article_content {
    padding-left: 8rem;
  }

  .more_articles {
    padding: 3rem;
  }

  .news {
    padding-left: 3rem;
    padding-right: 8rem;
  }

  .matches_container {
    padding: 3.5rem 8rem;
  }

  .table_container {
    padding: 3.5rem 2rem 3.5rem 8rem;
  }

  .youth_articles {
    padding: 3.5rem 8rem 3.5rem 2rem;
  }

  .banners_container, .partners_container {
    padding: 3.5rem 8rem;
  }
}
.matchArticle_main {
  background: #17428C;
}

.matchArticle_desc {
  padding: 1.5rem 1rem 1rem 1rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
}
.matchArticle_desc > div {
  display: flex;
  align-items: center;
}
.matchArticle_desc > div img {
  object-fit: contain;
  margin-right: 0.5rem;
}

.matchArticle_content {
  padding: 2rem 1rem 2.5rem 1rem;
  background: #FFFFFF;
  color: #153170;
}
.matchArticle_content h1 {
  line-height: 1.125;
  font-weight: 900;
  margin-bottom: 2rem;
}
.matchArticle_content h2, .matchArticle_content h3, .matchArticle_content h4, .matchArticle_content h5 {
  margin-bottom: 0.75rem;
  font-weight: 700;
}
.matchArticle_content .anotation {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.matchArticle_content p {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.matchArticle_content img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  object-fit: cover;
}
.matchArticle_content .quotation {
  color: #17428C;
  text-align: center;
}
.matchArticle_content .quotation h2 {
  font-weight: 800;
  line-height: 1.4;
  text-transform: uppercase;
}

.matchArticle_gallery > a {
  margin: 0 auto;
}

.matchArticle_gallery_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.matchArticle_gallery_container a {
  width: 8rem;
  height: 8rem;
}
.matchArticle_gallery_container a img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.matchArticle_aside {
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.matchArticle_aside h3 {
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.matchArticle_aside p, .matchArticle_aside .anotation {
  line-height: 1.75rem;
}

.aside_result {
  width: 100%;
  background: #FFFFFF;
  color: #153170;
  border: 4px solid #FFDD18;
  padding: 1.5rem;
  text-align: center;
}
.aside_result .logos_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.aside_result .logos_container img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
.aside_result .teams {
  margin: 0.5rem 0;
}
.aside_result .teams h3 {
  line-height: 1.05;
}
.aside_result .teams h3:nth-child(1) {
  margin-bottom: 0.5rem;
}
.aside_result h1 {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  line-height: 1;
}
.aside_result .date, .aside_result .periods {
  font-weight: 500;
  font-size: 0.875rem;
}

.aside_stats {
  padding: 1.5rem;
  color: #FFFFFF;
  border: 1px solid #FFDD18;
}
.aside_stats h3 {
  margin-bottom: 1rem;
}

.aside_players {
  padding: 1.5rem;
  border: 1px solid #FFDD18;
  color: #FFFFFF;
}
.aside_players .header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.aside_players .header img {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  margin-right: 1rem;
}
.aside_players .header h3 {
  line-height: 1.25;
}

.aside_moreArticles {
  margin-top: 2rem;
}
.aside_moreArticles h4 {
  color: #FFDD18;
  margin-bottom: 2rem;
}
.aside_moreArticles .aside_moreArticles_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.aside_moreArticles .aside_moreArticles_container > div {
  position: relative;
  display: flex;
  width: 100%;
}
.aside_moreArticles .aside_moreArticles_container > div:hover img.main_img {
  opacity: 0.75;
}
.aside_moreArticles .aside_moreArticles_container > div:hover > div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}
.aside_moreArticles .aside_moreArticles_container > div img.main_img {
  width: 5rem;
  height: 5rem;
  display: none;
  transition: all 0.1s ease-out;
}
.aside_moreArticles .aside_moreArticles_container > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid #6F80B3;
  transition: all 0.1s ease-out;
}
.aside_moreArticles .aside_moreArticles_container > div > div h4 {
  color: #FFFFFF;
  font-weight: 700;
  margin-right: 0.5rem;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .matchArticle_aside {
    padding: 2.5rem 8rem;
  }

  .aside_moreArticles .aside_moreArticles_container > div img.main_img {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .matchArticle_desc {
    padding: 0.2rem 1rem;
    margin: 0 auto;
    width: max-content;
  }

  .matchArticle_content {
    padding: 2rem 3rem 2.5rem 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .matchArticle_main {
    display: flex;
    flex-wrap: wrap;
  }

  .matchArticle_desc {
    width: 100%;
    margin-left: 9rem;
  }

  .matchArticle_content {
    flex: 0.7;
  }
  .matchArticle_content p {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 75%;
  }
  .matchArticle_content h2, .matchArticle_content h3, .matchArticle_content h4, .matchArticle_content h5 {
    margin: 0 auto;
    margin-bottom: 0.75rem;
    width: 75%;
  }
  .matchArticle_content .anotation {
    width: 100%;
  }

  .matchArticle_aside {
    flex: 0.3;
    padding: 0 2rem;
  }

  .aside_moreArticles .aside_moreArticles_container > div img.main_img {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .matchArticle_desc {
    margin-left: 11.1rem;
  }

  .matchArticle_content {
    padding: 2.5rem 3.75rem 5rem 3.75rem;
  }
  .matchArticle_content h1 {
    line-height: 4.5rem;
    margin-bottom: 3.25rem;
  }
  .matchArticle_content p, .matchArticle_content img, .matchArticle_content .anotation {
    margin-bottom: 4rem;
  }

  .matchArticle_gallery_container a {
    width: 200px;
    height: 200px;
  }

  .matchArticle_aside {
    padding: 0 2.5rem;
  }

  .aside_moreArticles .aside_moreArticles_container > div img.main_img {
    display: block;
  }
}
@media only screen and (min-width: 1920px) {
  .matchArticle_desc {
    margin-left: 15.5rem;
  }

  .matchArticle_content {
    padding: 2.5rem 5rem 5rem 8rem;
  }

  .matchArticle_aside {
    padding: 0 5rem 0 2.5rem;
  }
}
.roster_main {
  background: #17428C;
  padding: 2.5rem 1rem;
}
.roster_main > h1 {
  font-weight: 900;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
.roster_main > h1 span {
  font-weight: 400;
  font-size: 1em;
}

.roster_category h3 {
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.roster_category > h3 {
  color: #FFDD18;
  margin-bottom: 1.5rem;
}

.roster_categories_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.roster_category_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.roster_player {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #6F80B3;
}
.roster_player .player_img {
  visibility: hidden;
  position: absolute;
  width: 240px;
  height: 240px;
  object-fit: cover;
}
.roster_player h2 {
  margin-right: 1rem;
  font-size: 2rem;
  color: #FFDD18;
  z-index: 1;
}
.roster_player h3 {
  flex: 1;
  color: #FFFFFF;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .roster_main {
    padding: 2.5rem 3rem;
  }

  .roster_player {
    width: 396px;
  }
}
@media only screen and (min-width: 1280px) {
  .roster_category_container {
    gap: 3.25rem;
  }
}
@media only screen and (min-width: 1440px) {
  .roster_main {
    padding: 3.5rem 3.75rem;
  }
  .roster_main > h1 {
    margin-bottom: 2.5rem;
  }

  .roster_categories_container {
    gap: 4rem;
  }

  .roster_category > h3 {
    margin-bottom: 2.5rem;
  }

  .roster_player .player_img {
    top: 80%;
    transform: translateY(-50%);
    left: 30%;
    transition: all 0.2s ease-in;
    opacity: 0;
  }
  .roster_player:hover .player_img {
    visibility: visible;
    top: 50%;
    opacity: 0.56;
  }
  .roster_player h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1920px) {
  .roster_main {
    padding: 3.5rem 8rem;
  }
}
.archive_main {
  background: #17428C;
  color: #FFFFFF;
  padding: 2.5rem 1rem;
}
.archive_main > h1 {
  font-weight: 900;
  margin-bottom: 2rem;
}

.archive_articles_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.archive_article {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 1rem;
  transition: all 0.1s ease-out;
}
.archive_article .main_img {
  display: none;
  transition: all 0.1s ease-out;
}
.archive_article:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}
.archive_article:hover .main_img {
  opacity: 0.75;
}
.archive_article > div {
  flex: 1;
}

.archive_article_desc {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.archive_article_desc > div {
  display: flex;
  align-items: center;
}
.archive_article_desc > div img {
  object-fit: contain;
  margin-right: 0.5rem;
}
.archive_article_desc > div:not(:nth-child(2)) {
  display: none;
}

@media only screen and (min-width: 768px) {
  .archive_article .arrow {
    height: 2rem;
    width: 2rem;
  }

  .archive_article_desc {
    gap: 1.5rem;
  }
  .archive_article_desc > div:not(:nth-child(2)) {
    display: flex;
  }
}
@media only screen and (min-width: 1024px) {
  .archive_main {
    padding: 2.5rem 3rem;
  }

  .archive_article {
    padding-bottom: 0;
  }
  .archive_article .main_img {
    display: block;
    margin-right: 3rem;
    height: 6rem;
    width: 8rem;
    object-fit: cover;
  }
}
@media only screen and (min-width: 1440px) {
  .archive_main {
    padding: 3.5rem 3.75rem;
  }
  .archive_main > h1 {
    margin-bottom: 3rem;
  }

  .archive_articles_container {
    gap: 3rem;
  }

  .archive_article .main_img {
    height: 8.75rem;
    width: 12.5rem;
    margin-right: 4rem;
  }
  .archive_article .arrow {
    height: 2.5rem;
    width: 2.5rem;
  }

  .archive_article_desc {
    margin-bottom: 1rem;
    gap: 2.5rem;
  }
}
@media only screen and (min-width: 1920px) {
  .archive_main {
    padding: 3.5rem 8rem;
  }
}
.player_main h3 {
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.player_imgDesc_container .player_img {
  height: 25.5rem;
  width: 100%;
}
.player_imgDesc_container .player_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.player_imgDesc_container .player_desc {
  background: #17428C;
  color: #FFFFFF;
  position: relative;
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.player_imgDesc_container .player_desc .bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 75%;
  object-fit: cover;
}
.player_imgDesc_container .player_desc .player_num {
  -webkit-text-stroke: 1px #FFDD18;
  color: transparent;
  font-size: 5.5rem;
  line-height: 0.7;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}
.player_imgDesc_container .player_desc > div {
  position: relative;
  z-index: 1;
}
.player_imgDesc_container .player_desc > div h3 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.player_stats {
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.player_stats h1 {
  text-transform: uppercase;
  line-height: 1.25;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #17428C;
}
.player_stats table {
  border-collapse: collapse;
  width: 100%;
}
.player_stats table th, .player_stats table td {
  padding: 0.3rem;
  text-align: center;
  font-weight: 400;
}
.player_stats table th:nth-child(1), .player_stats table td:nth-child(1) {
  padding-left: 1rem;
  text-align: left;
}
.player_stats table thead {
  background: #153170;
  color: #FFFFFF;
}
.player_stats table tbody tr:nth-child(odd) {
  background: #F2F2F2;
}

.player_aside {
  background: #17428C;
  padding: 2.5rem 1rem;
}

.player_aside_item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-out;
}
.player_aside_item:hover {
  background: #0d3a86;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}
.player_aside_item.highlighted {
  border-bottom: 2px solid #FFDD18;
}
.player_aside_item h2 {
  color: #FFDD18;
  font-weight: 800;
  line-height: 1;
  margin-right: 1rem;
}
.player_aside_item h3 {
  flex: 1;
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .player_imgDesc_container {
    display: flex;
  }
  .player_imgDesc_container .player_img {
    height: 31rem;
    flex: 0.65;
  }
  .player_imgDesc_container .player_desc {
    flex: 0.35;
  }

  .player_aside {
    padding: 2.5rem 8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .player_main {
    display: flex;
    flex-direction: row-reverse;
  }

  .player_content {
    flex: 0.65;
  }

  .player_imgDesc_container .player_desc .player_num {
    right: unset;
    left: 0;
  }

  .player_aside {
    flex: 0.35;
    padding: 2.5rem 1rem 2.5rem 3rem;
  }

  .player_stats {
    padding: 2.5rem 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .player_content {
    flex: 0.7;
  }

  .player_imgDesc_container .player_img {
    height: 35rem;
  }

  .player_aside {
    flex: 0.3;
  }
}
@media only screen and (min-width: 1440px) {
  .player_imgDesc_container .player_img {
    flex: 0.7;
    height: 44.25rem;
  }
  .player_imgDesc_container .player_desc {
    flex: 0.3;
    gap: 2.5rem;
    padding: 4rem 1.5rem;
  }
  .player_imgDesc_container .player_desc .player_num {
    font-size: 9rem;
  }

  .player_stats {
    padding: 8rem 3rem;
    gap: 4rem;
  }
  .player_stats table th, .player_stats table td {
    padding: 0.4rem;
  }
  .player_stats table th:nth-child(1), .player_stats table td:nth-child(1) {
    padding-left: 2.5rem;
  }

  .player_aside {
    padding: 4rem 3rem;
  }

  .player_aside_item h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1920px) {
  .player_aside {
    padding-left: 8rem;
  }

  .player_stats {
    padding-right: 8rem;
  }
}
.matches_main {
  background: #17428C;
  padding: 2.5rem 1rem;
}
.matches_main > h1 {
  font-weight: 900;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
.matches_main > h1 span {
  font-weight: 400;
  font-size: 1em;
}
.matches_main h3 {
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.matches_main_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.matches_main_container .item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #FFDD18;
  padding: 1rem;
}
.matches_main_container .item .roundDate {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.matches_main_container .item .roundDate span:nth-child(2) {
  font-weight: 500;
}
.matches_main_container .item .logos {
  margin-bottom: 0.5rem;
}
.matches_main_container .item .logos img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}
.matches_main_container .item .teams {
  text-align: center;
  margin-bottom: 0.5rem;
}
.matches_main_container .item .teams h3 {
  line-height: 1.1;
}
.matches_main_container .item .score {
  margin-bottom: 1rem;
  line-height: 1;
}
.matches_main_container .item .score.win {
  color: #1cad3b;
}
.matches_main_container .item .score.lose {
  color: #c11e1e;
}
.matches_main_container .item .buttons {
  display: flex;
  gap: 1rem;
}
.matches_main_container .item .buttons a {
  color: #FFFFFF;
  background: #153170;
  padding: 0.2rem 1rem;
  transition: background 0.1s ease-out;
}
.matches_main_container .item .buttons a:hover {
  background: #001b56;
}

@media only screen and (min-width: 768px) {
  .matches_main_container .item {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .matches_main {
    padding: 2.5rem 3rem;
  }

  .matches_main_container .item {
    width: 100%;
    flex-direction: row;
  }
  .matches_main_container .item .roundDate, .matches_main_container .item .logos, .matches_main_container .item .teams, .matches_main_container .item .score {
    margin-bottom: 0;
  }
  .matches_main_container .item .roundDate {
    flex: 0.2;
  }
  .matches_main_container .item .logos {
    flex: 0.15;
    display: flex;
  }
  .matches_main_container .item .teams {
    flex: 0.35;
    text-align: left;
  }
  .matches_main_container .item .score {
    flex: 0.1;
  }
  .matches_main_container .item .buttons {
    flex: 0.2;
  }
}
@media only screen and (min-width: 1280px) {
  .matches_main_container .item {
    width: 75%;
  }
}
@media only screen and (min-width: 1440px) {
  .matches_main {
    padding: 3.5rem 3.75rem;
  }
  .matches_main > h1 {
    margin-bottom: 2.5rem;
  }

  .matches_main_container .item {
    width: 100%;
  }
  .matches_main_container .item .roundDate span:nth-child(2) {
    font-size: 1.1rem;
  }
  .matches_main_container .item .logos img {
    height: 4rem;
    width: 4rem;
  }
  .matches_main_container .item .teams h3 {
    line-height: 1.5;
  }
  .matches_main_container .item .score {
    font-size: 2rem;
  }
  .matches_main_container .item .buttons a {
    padding: 0.5rem 1.5rem;
  }
}
@media only screen and (min-width: 1920px) {
  .matches_main {
    padding: 3.5rem 8rem;
  }

  .matches_main_container .item {
    width: 75%;
  }
}
.standings_main {
  background: #17428C;
  padding: 2.5rem 1rem;
}
.standings_main > h1 {
  font-weight: 900;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
.standings_main > h1 span {
  font-weight: 400;
  font-size: 1em;
}
.standings_main h3 {
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.standings_main .table_container {
  overflow-x: scroll;
  padding: unset;
  background: unset;
}
.standings_main .table {
  color: #FFFFFF;
}
.standings_main .table thead {
  background: #153170;
}
.standings_main .table thead th {
  padding: 0.5rem;
}
.standings_main .table tr td {
  padding: 0.5rem 1rem;
}
.standings_main .table tr td:nth-child(2) {
  white-space: nowrap;
  font-weight: 700;
}
.standings_main .table tr td:nth-child(2) img {
  margin-right: 0.5rem;
}
.standings_main .table tr td:nth-child(3), .standings_main .table tr td:nth-child(6) {
  font-weight: unset;
}
.standings_main .table tr:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 768px) {
  .standings_main .table_container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .standings_main .table_container::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .standings_main {
    padding: 2.5rem 3rem;
  }
}
@media only screen and (min-width: 1440px) {
  .standings_main {
    padding: 3.5rem 3.75rem;
  }
  .standings_main > h1 {
    margin-bottom: 2.5rem;
  }
  .standings_main .table_container .table {
    width: unset;
  }
  .standings_main .table_container .table td, .standings_main .table_container .table th {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1920px) {
  .standings_main {
    padding: 3.5rem 8rem;
  }
}

/*# sourceMappingURL=style.css.map */
