.archive_main {
    background: $primaryBlue;
    color: $white;
    padding: 2.5rem 1rem;

    & > h1 {
        font-weight: 900;
        margin-bottom: 2rem;
    }
}

.archive_articles_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.archive_article {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($color: $white, $alpha: .5);
    padding-bottom: 1rem;

    .main_img {
        display: none;
    }

    & > div {
        flex: 1;
    }
}

.archive_article_desc {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    & > div {
        display: flex;
        align-items: center;

        img {
            object-fit: contain;
            margin-right: .5rem;
        }
    }

    & > div:not(:nth-child(2)) {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .archive_article {
        .arrow {
           height: 2rem; 
           width: 2rem;
        }
    }

    .archive_article_desc {
        gap: 1.5rem;

        & > div:not(:nth-child(2)) {
            display: flex;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .archive_main {
        padding: 2.5rem 3rem;
    }

    .archive_article {
        padding-bottom: 0;

        .main_img {
            display: block;
            margin-right: 3rem;
            height: 6rem;
            width: 8rem;
            object-fit: cover;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .archive_main {
        padding: 3.5rem 3.75rem;

        & > h1 {
            margin-bottom: 3rem;
        }
    }

    .archive_articles_container {
        gap: 3rem;
    }

    .archive_article {
        .main_img {
            height: 8.75rem;
            width: 12.5rem;
            margin-right: 4rem;
        }
        
        .arrow {
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    .archive_article_desc {
        margin-bottom: 1rem;
        gap: 2.5rem;
    }
} 

@media only screen and (min-width: 1920px) {
    .archive_main {
        padding: 3.5rem 8rem;
    }
}