* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Saira', sans-serif;
}

.topbar {
    display: none;
    width: 100%;
    height: 2.5rem;
    background: black;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.125rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.stretched_link {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

span {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.table {
    border-collapse: collapse;
    tr {

        &:not(:last-child) {
            border-bottom: 1px solid rgba($color: $darkBlue, $alpha: .2);
        }

        td {
            font-size: .875rem;
            padding: .5rem;

            &:nth-child(1) {
                text-align: center;
            }

            &:nth-child(2) {
                padding: .5rem 0;

                img {
                    vertical-align: middle;
                }
            }

            img {
                min-width: 1.375rem;
                width: 1.375rem;
                height: auto;
                object-fit: contain;
            }

            &:nth-child(3) {
                font-weight: 700;
                line-height: 1.1;
            }

            &:nth-child(6) {
                font-weight: 700;
            }
        }
    }
}

.select {
    border: 1px solid rgba($color: $darkBlue, $alpha: 0.2);
    border-radius: 3px;
    outline: none;
    padding: .5rem;
}

.hockey_icon {
    width: 14px;
    height: 14px;
    background-color: $white;
    -webkit-mask: url(../assets/../images/hockey_icon.svg) no-repeat center;
    mask: url(../assets/../images/hockey_icon.svg) no-repeat center;
    
    &.yellow {
        background-color: $primaryYellow;
    }
}

.clock_icon {
    width: 14px;
    height: 14px;
    background-color: $white;
    -webkit-mask: url(../assets/../images/clock.svg) no-repeat center;
    mask: url(../assets/../images/clock.svg) no-repeat center;
}

.category_icon {
    width: 14px;
    height: 14px;
    background-color: $white;
    -webkit-mask: url(../assets/../images/article_type.svg) no-repeat center;
    mask: url(../assets/../images/article_type.svg) no-repeat center;
}

.author_icon {
    width: 14px;
    height: 14px;
    background-color: $white;
    -webkit-mask: url(../assets/../images/author.svg) no-repeat center;
    mask: url(../assets/../images/author.svg) no-repeat center;
}


.staff_icon {
    width: 14px;
    height: 14px;
    background-color: $white;
    -webkit-mask: url(../assets/../images/staff.svg) no-repeat center;
    mask: url(../assets/../images/staff.svg) no-repeat center;
}

@media only screen and (min-width: 1440px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.75rem;  
    }
}