header {
    position: relative;
    z-index: 50;
    height: 5rem;
    background: $darkBlue;
    color: $white;
    border-bottom: 2px solid $primaryYellow;
}

.header_bg {
    position: absolute;
    inset: 0;
    max-height: 5.5rem;
    width: 100%;
    object-fit: cover;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 100%;
    position: relative;
    z-index: 1;
}

.header_logo_container {
    height: 100%;

    img {
        height: 6rem;
        width: auto;
        object-fit: contain;
    }
}

.header_row1 {
    display: none;

    h2 {
        font-size: 2rem;
        font-family: 'Gemunu Libre', sans-serif;
        font-weight: 700;
    }
}

.header_row2 {
    position: fixed;
    right: 0;
    transform: translateX(100%);
    top: 5rem;
    background: $darkBlue;
    padding: 2rem;
    transition: transform .2s ease-in;

    &.active {
        transform: translateX(0);
    }
}

.nav_links {
    display: flex;
    flex-direction: column;

    & > li {
        height: 100%;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        a {
            color: $white;
            display: block;
            height: 100%;
        }
    }
}

.dropdown_menu {
    z-index: 20;
    display: none;

    &.active {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    li {
        border-bottom: 1px solid $primaryYellow;
        width: max-content;
        font-weight: 400;
        font-size: 1rem;

        a {
            transition: color .1s ease-out;
        }
        
        &:hover a {
            color: $primaryYellow;
        }
    }
}

.burger {
    padding: .5rem;
    cursor: pointer;

    div {
        width: 2rem;
        height: 3px;
        background: white;
        margin: .6rem 0;
        border-radius: 2rem;
        transition: all .1s ease-in;
    }
}

.burger.active {
    div {
        &:nth-child(1) {
            transform: translateY(.4rem) rotate(45deg);
        }

        &:nth-child(2) {
            display: none;
        }

        &:nth-child(3) {
            transform: translateY(-0.4rem) rotate(-45deg);
        }
    }
}

@media only screen and (min-width: 1024px) {
    .header_container {
        padding: 0 3rem;
    }
}

@media only screen and (min-width: 1440px) {
    .topbar {
        display: block;
    }

    header {
        height: 9rem;
    }

    .header_container {
        padding: 0 3.75rem;
        justify-content: unset;
    }

    .header_logo_container {
        margin-right: 2.5rem;

        img {
            height: 10.75rem;
        }
    }

    .burger {
        display: none;
    }

    .header_rows_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header_row1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5.5rem;

        & > div {
            display: flex;

            & > div:nth-child(1) {
                display: flex;
                align-items: center;
                padding-right: 2rem;

                a {
                    color: $white;
                    font-size: 1rem;
                }
            }

            & > div:nth-child(2) {
                display: flex;
                align-items: center;
                padding: 0 2rem;
                border-right: 1px solid rgba($color: $white, $alpha: .5);
                border-left: 1px solid rgba($color: $white, $alpha: .5);
            }

            & > div:nth-child(3) {
                display: flex;
                gap: 1.5rem;
                padding-left: 2rem;

                a {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .header_row2 {
        position: unset;
        transform: translateX(0);
        padding: 0;
        height: 3.75rem;
        background: transparent;
    }

    .nav_links {
        height: 100%;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        & > li {
            position: relative;

            &::after {
                content: "";
                background: $white;
                position: absolute;
                right: 0;
                bottom: 1rem;
                width: 0;
                height: 2px;
                transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
            }

            &:not(:last-child) {
                margin-bottom: 0;
            }

            &:hover {
                .dropdown_menu {
                    transform: translateY(1.5rem);
                    visibility: visible;
                    opacity: 1;
                }

                &::after {
                    right: auto;
                    width: 100%;
                    left: 0;
                }
            }
            
            a {
                display: flex;
                align-items: center;
            }
        }
    }

    .dropdown_menu {
        position: absolute;
        top: 2rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        transition: all .1s ease-out;
        transform: translateY(2.5rem);
        visibility: hidden;
        opacity: 0;
        background: $darkBlue;
        color: $white;
        padding: 1rem;
        width: max-content;
    }
}

@media only screen and (min-width: 1920px) {
    .header_container {
        padding: 0 8rem;
    }    
}