.matchArticle_main {
    background: $primaryBlue;
}

.matchArticle_desc {
    padding: 1.5rem 1rem;
    color: $white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem 1.5rem;

    & > div {
        display: flex;
        align-items: center;

        img {
            object-fit: contain;
            margin-right: .5rem;
        }
    }
}

.matchArticle_content {
    padding: 2rem 1rem 2.5rem 1rem;
    background: $white;
    color: $darkBlue;

    h1 {
        font-size: 2rem;
        line-height: 1.125;
        margin-bottom: 2rem;
    }

    .anotation {
        font-size: 1rem; 
        margin-bottom: 2rem;
    }

    h2, h3, h4, h5 {
        margin-bottom: .75rem;
        font-weight: 700;
    }

    p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    img {
        max-width: 100%;
        margin-bottom: 2rem;
        object-fit: cover;
    }

    .quotation {
        color: $primaryBlue;
        text-align: center;

        h2 {
            font-weight: 800;
            line-height: 1.4;
            text-transform: uppercase;
        }
    }
}

.matchArticle_gallery > a {
    margin: 0 auto;
}

.matchArticle_gallery_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;

    a {
        width: 8rem;
        height: 8rem;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}