.player_main {
    h3 {
        font-weight: 800;
        font-size: 1.25rem;
        text-transform: uppercase;
    }
}

.player_imgDesc_container {
    .player_img {
        height: 25.5rem;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .player_desc {
        background: $primaryBlue;
        color: $white;
        position: relative;
        padding: 2.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .bg {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 75%;
            object-fit: cover;
        }

        .player_num {
            -webkit-text-stroke: 1px $primaryYellow;
            color: transparent;
            font-size: 5.5rem;
            line-height: .7;
            z-index: 1;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        & > div {
            position: relative;
            z-index: 1;

            h3 {
                margin-bottom: .5rem;
                line-height: 1;
            }
        }
    }
}

.player_stats {
    padding: 2.5rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        text-transform: uppercase;
        line-height: 1.25;
        font-weight: 800;
        margin-bottom: 1rem;
        color: $primaryBlue;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        th, td {
            padding: .3rem;
            text-align: center;
            font-weight: 400;

            &:nth-child(1) {
                padding-left: 1rem;
                text-align: left;
            }
        }

        thead {
            background: $darkBlue;
            color: $white;
        }

        tbody {
            tr:nth-child(odd) {
                background: #F2F2F2;
            }
        }
    }
}

.player_aside {
    background: $primaryBlue;
    padding: 2.5rem 1rem;
}

.player_aside_item {
    position: relative;
    display: flex;
    align-items: center;
    padding: .25rem;
    border-bottom: 1px solid rgba($color: $white, $alpha: .5);
    transition: all .1s ease-out;

    &:hover {
        background: #0d3a86;
        border-bottom: 1px solid rgba($color: $white, $alpha: .85);
    }

    &.highlighted {
        border-bottom: 2px solid $primaryYellow;
    }

    h2 {
        color: $primaryYellow;
        font-weight: 800;
        line-height: 1;
        margin-right: 1rem;
    }

    h3 {
        flex: 1;
        color: $white;
    }
}

@media only screen and (min-width: 768px) {
    .player_imgDesc_container {
        display: flex;

        .player_img {
            height: 31rem;
            flex: .65;
        }

        .player_desc {
            flex: .35;
        }
    }

    .player_aside {
        padding: 2.5rem 8rem;
    }
}

@media only screen and (min-width: 1024px) {
    .player_main {
        display: flex;
        flex-direction: row-reverse;
    }

    .player_content {
        flex: .65;
    }

    .player_imgDesc_container .player_desc .player_num {
        right: unset;
        left: 0;
    }

    .player_aside {
        flex: .35;
        padding: 2.5rem 1rem 2.5rem 3rem;
    }

    .player_stats {
        padding: 2.5rem 3rem;
    }
}

@media only screen and (min-width: 1280px) {
    .player_content {
        flex: .7;
    }

    .player_imgDesc_container .player_img {
        height: 35rem;
    }
    
    .player_aside {
        flex: .3;
    }
}

@media only screen and (min-width: 1440px) {
    .player_imgDesc_container {
        .player_img {
            flex: .7;
            height: 44.25rem;
        }

        .player_desc {
            flex: .3;
            gap: 2.5rem;
            padding: 4rem 1.5rem;

            .player_num {
                font-size: 9rem;
            }
        }
    }

    .player_stats {
        padding: 8rem 3rem;
        gap: 4rem;

        table th, table td {
            padding: .4rem;

            &:nth-child(1) {
                padding-left: 2.5rem;
            }
        }
    }

    .player_aside {
        padding: 4rem 3rem;
    }

    .player_aside_item {
        h2 {
            font-size: 2.5rem;
        }
    }
}

@media only screen and (min-width: 1920px) {
    .player_aside {
        padding-left: 8rem;
    }

    .player_stats {
        padding-right: 8rem;
    }
}